/* Practice Card */
.practice-card {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  padding: 15px;
  border-radius: 10px;
  background: white;
  padding-top: 50px;
}

/* Large Image */
.practice-card img {
  height: auto;
  border-radius: 10px;
}

/* Circle Image in the Middle */
.circle-image {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.circle-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.title-pcard {
  padding-top: 70px;
}
